{% extends 'base.html' %}
{% block content %}
<h2>Loguearse</h2>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Loguearse</button>
</form>
{% endblock content %}