{% extends 'base.html' %}

{% block content %}
<h2>Crear nueva cuenta</h2>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear cuenta</button>
</form>
{% endblock content %}