main {
    background-image: url("ball.png");
    background-color: #cccccc;
   }

input[type="number"]
{
    font-size:24px;
    width: 40px;
}

.h3,h3 {
    font-size: calc(0.75rem + 1vw);
  }
  
  @media (min-width: 1200px) {
    .h3,h3 {
      font-size: 1.75rem;
    }
  }

.h5,h5 {
    font-size: calc(0.75rem + 0.75vw);
  }
  
  @media (min-width: 1200px) {
    .h5,h5 {
      font-size: 1.25rem;
    }
  }

strong {
    font-size: calc(0.5rem + 0.5vw);
  }
  
  @media (min-width: 1200px) {
    strong {
      font-size: 1rem;
    }
  }