{% extends 'base.html' %}
{% load static %}

{% block title %} Mi apuesta {% endblock title %}

{% block content %}
<div class="jumbotron text-center">
<h1>
    {% if grupo in 'A,B,C,D,E,F,G,H' %}
    Grupo {{ grupo }} 
    {% elif grupo == "I" %}
    Octavos de final 
    {% elif grupo == "J" %} 
    Cuartos de final 
    {% elif grupo == "K" %} 
    Semifinales 
    {% elif grupo == "L" %} 
    Partido Tercer puesto 
    {% elif grupo == "M"  %} 
    Final 
    {% endif %} </h1>
</div>
<form method="post">
    {% csrf_token %}
<div class="container">

{% for partido in partidos_grupo %}
    <div class="row">
        <div class="col-4 text-right lead"><strong> {{ partido.equipo_1.nombre }} </strong><span class="fi fi-{{ partido.equipo_1.codigo_bandera }}"></span></div>
        <div class="col-1 text-center"><input type="number" min="0" name="{{ partido.fase }}E1" id="{{ partido.fase }}E1" value="0" size="2" ></div>
        <div class="col-2 text-center">vs</div>
        <div class="col-1 text-center"><input type="number" min="0" name="{{ partido.fase }}E2" id="{{ partido.fase }}E2" value="0" size="2"></div>
        <div class="col-4 text-left lead"><span class="fi fi-{{ partido.equipo_2.codigo_bandera }}"></span> <strong>{{ partido.equipo_2.nombre }} </strong></div>
    </div>
    <div class="row" {% if grupo in 'A,B,C,D,E,F,G,H' %} hidden {% endif %}>
            <div class="col-4 text-right small">Ganador:</div>
            <div class="col-1 text-center"><input type="radio" id="html" name="P{{ partido.fase }}" value="1" selected> <span class="fi fi-{{ partido.equipo_1.codigo_bandera }}"></span></div>
            <div class="col-2 text-center"> . </div>
            <div class="col-1 text-center"><span class="fi fi-{{ partido.equipo_2.codigo_bandera }}"></span> <input type="radio" id="html" name="P{{ partido.fase }}" value="2" > </div>
            <div class="col-4"></div>
    </div>
{% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 text-center"></div>
        <div class="col-sm-3 text-center"><button type="submit" class="button btn-primary">Continuar</button> </div>
        
    </div>
</div>
</form>
<br />
<br />
<div id="tabpos" class="jumbotron "></div>

<script type="text/python">
from browser import document, bind
from browser.html import TABLE, TR, TH, TD, THEAD, TBODY
import table_calc

def calc_values(event):
    #print("calc_values")
    grupo = "{{ grupo }}"
    if grupo in ["A","B","C","D","E","F","G","H"]:
        partidos = [
        {% for partido in partidos_grupo %}
        {"equipo0":"{{ partido.equipo_1.nombre }}","equipo1":"{{ partido.equipo_2.nombre }}","gol0":0,"gol1":0,"emp_ganador":1},
        {% endfor %}
        ]

        paises_dict = {
            {% for pais in paises %}
            '{{ pais.nombre }}': '{{ pais.codigo_bandera }}',
            {% endfor %}
        }

        for ind_p in range(0,6):
            partidos[ind_p]["gol0"] = int(document[f"G{{ grupo }}P{ind_p+1}E1"].value)
            partidos[ind_p]["gol1"] = int(document[f"G{{ grupo }}P{ind_p+1}E2"].value)
        tabla_add = table_calc.tabla(partidos)
        #print(tabla_add)
        tabla_html = TABLE()
        tabla_html["class"] = "table table-striped"
        header = THEAD()
        header_row = TR()
        header_row <= TH("Equipo")
        header_row <= TH("Puntos")
        header_row <= TH("Partidos ganados")
        header_row <= TH("Goles a favor")
        header_row <= TH("Diferencia de goles")
        header <= header_row
        tabla_html <= header
        table_body = TBODY()
        for equip in tabla_add:
            row = TR()
            nombre_pais = equip["equipo"]
            row <= TD(f"<span class='fi fi-{paises_dict[nombre_pais]}'></span>" + nombre_pais)
            row <= TD(equip["puntos"])
            row <= TD(equip["partidos_ganados"])
            row <= TD(equip["goles_favor"])
            row <= TD(equip["diferencia_goles"])
            table_body <= row
        tabla_html <= table_body
        document['tabpos'].clear()
        document['tabpos'] <= tabla_html


for inputMm in document.select("input"):
    inputMm.bind("blur", calc_values)
</script>

{% endblock content %}