{% extends 'base.html' %}
{% load static %}

{% block title %} Backdoor Listar {% endblock title %}
User {{ user.username }}
{% block content %}
<ul>
{% for apuesta in object_list %}
<a href="{% url 'backedit' apuesta.pk %}">
    <li>{{ apuesta.partido.fase }} - {{ apuesta.equipo_1.nombre }} {{ apuesta.gol_1 }} - {{ apuesta.gol_2 }} {{ apuesta.equipo_2.nombre }}</li>
</a>
{% empty %}
    <li>Sin apuesta aun.</li>
{% endfor %}
</ul>
{% endblock content %}