{% extends 'base.html' %}
{% load static %}

{% block title %} Backdoor Edit {% endblock title %}

{% block content %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Update" class="btn">Aceptar</button>
</form>

{% endblock content %}