{% extends 'base.html' %}
{% load static %}

{% block title %} Backdoor Create {% endblock title %}

{% block content %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Aceptar</button>
    </form>

{% endblock content %}