{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}Apuesta Mundial de los Vagos{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.10.7/brython.min.js"> </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.10.7/brython_stdlib.js"> </script>
        <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    </head>
    <body onload="brython({debug: 1, pythonpath: ['/brython/']})">
        <div>
            <header>
                <div class="nav-left">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{% url 'home' %}">Mundial de los Vagos</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">{% if user.is_authenticated %}
                              <a class="nav-link disabled" href="{% url 'apuesta' %}">Mi apuesta</a>
                              {% else %}
                              <a class="nav-link disabled" href="{% url 'login' %}">Mi apuesta(Logueate primero)</a>
                              {% endif %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tabla' %}" tabindex="-1" >Tabla de posiciones</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'nextpartido' %}" tabindex="-1" >Siguiente partido</a>
                          </li>
                          </ul>
                          {% if user.is_authenticated %}
                          Hola, {{ user.username }}
                          <p><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}"> Desloguerase </a>
                      {% else %}
                          <p>No estas logueado.</p>
                          <p><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}"> Loguearse </a>
                          <p><a class="btn btn-outline-success my-2 my-sm-0 disabled" href="{% url 'signup' %}"> Crear nueva cuenta</a>
                      {% endif %}
                        </div>
                      </nav>
                </div>
            </header>
            <main>
                {% block content %}
                {% endblock content %}
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      </body>
</html>