{% extends 'base.html' %}
{% load static %}

{% block title %} Apuesta completada {% endblock title %}

{% block content %}
<h1>Felicidades! Tu apuesta ya quedo registrada. </h1>

<p>Si pensas que te mandaste una cagada y queres corregir, avisame </p>
<p>Pronto habrá novedades </p>

{% endblock content %}