{% extends 'base.html' %}
{% load static %}

{% block title %} Mi apuesta ya hecha {% endblock title %}

{% block content %}
<div class="jumbotron"> 
    <div class="container">
        <div class="row text-center align-middle">
            <div class="col-3"> 
                <a href="{% static object.apodo|default:"horl.png" %}">
                    <img class="img-fluid rounded-circle" src="{% static object.apodo|default:"horl.png" ) %}" alt="{{ object.username }}" width="200" height="200">
                </a>
            </div>
            <div class="col-9 align-middle">
                <h1><span class="align-middle">Apuesta de {{ object.username }}</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% for letra, grupo in mis_partidos.items %}
    <div class="row">
        <div class="col-6">
            <h3> {{ grupo.titulo }} </h3>
        </div>
        <div class="col-5">
            <h3> Resultados reales: {{ grupo.titulo }} </h3>
        </div>
        <div class="col-1">
            <h3> Ptj </h3>
        </div>

    </div>
    {% for partido in grupo.partidos %}
    <div class="row">
        <div class="col-2 text-right"><strong> {{ partido.equipo_1_nombre }} <span class="fi fi-{{ partido.equipo_1_flag }}"></span> {{ partido.ganador_1|safe }} </strong> </div>
        <div class="col-1 text-center">   <span class="h3">{{ partido.gol_1 }} - {{ partido.gol_2 }}</span>  </div>
        <div class="col-2 text-left">  <strong> {{ partido.ganador_2 |safe}}  <span class="fi fi-{{ partido.equipo_2_flag }}"></span>  {{ partido.equipo_2_nombre }} </strong>  </div>
        <div class="col-3 text-right"><strong>  {{ partido.equipo_1_nombre_real }} <span class="fi fi-{{ partido.equipo_1_flag_real }}"></span> {{ partido.ganador_real_1 |safe}} </strong> </div>
        <div class="col-1 text-center"> <span class="h3">{{ partido.gol_1_real }} - {{ partido.gol_2_real }}</span> </div>
        <div class="col-2 text-left"><strong> {{ partido.ganador_real_2 |safe}}  <span class="fi fi-{{ partido.equipo_2_flag_real }}"></span>  {{ partido.equipo_2_nombre_real }} </strong>  </div>
        <div class="col-1 text-left"><span class="h3"> {{ partido.puntaje }} </span>  </div>
    </div>
    {% endfor %}
    {% if letra in 'A,B,C,D,E,F,G,H' %}
    <div class="row">
        <div class="col-5 h5 text-center">
            Clasificados: 
            1° 
                <span class="fi fi-{{ grupo.clasificados.primero.codigo_bandera }}"></span> 
                {{ grupo.clasificados.primero.nombre }} </h5>
                2° 
                <span class="fi fi-{{ grupo.clasificados.segundo.codigo_bandera }}"></span> 
                {{ grupo.clasificados.segundo.nombre }} </h5>
        </div>
        <div class="col-6 h5 text-center">
            Clasificados: 
            1° 
                <span class="fi fi-{{ grupo.clasificados.primero_real.codigo_bandera }}"></span> 
                {{ grupo.clasificados.primero_real.nombre }} </h5>
                2° 
                <span class="fi fi-{{ grupo.clasificados.segundo_real.codigo_bandera }}"></span> 
                {{ grupo.clasificados.segundo_real.nombre }} </h5>
        </div>
        <div class="col-1 text-left h3">
            {{ grupo.clasificados.puntaje }}
        </div>
    </div>
    {% endif%}
    <br><br>
    {% endfor %}
</div>
{% endblock content %}