{% extends 'base.html' %}
{% load static %}

{% block title %} Proximo partido {% endblock title %}

{% block content %}
<div class="jumbotron">
<h1 class="text-center">Proximo partido</h1>
</div>
{% for partido in next_partidos %}
<div class="jumbotron">
    <h2 class="text-center"> <span class="fi fi-{{ partido.partido.equipo_1.codigo_bandera }}"></span> {{ partido.partido.equipo_1.nombre}} vs {{ partido.partido.equipo_2.nombre}}  <span class="fi fi-{{ partido.partido.equipo_2.codigo_bandera }}"></span></h2>
    <div class="container">
        <div class="row h5">
            <div class="col-4 text-center"> Fecha partido: {{ partido.fecha_ar }}</div> 
            <div class="col-4 text-center"> Referencia: {{ referencia_cierre }} </div>
            <div class="col-4 text-center"> Codigo Partido: {{ partido.partido.fase }} </div>

        </div>
        {% if partido.realidad %}
        <div class="row">
            <div class="col-12 h3">
             <p class="text-center">Partido en marcha</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <p  class="text-center">(actualizó cuando se me cantan las pelotas. Avisen por whatsapp si esta viejo)</p>
            </div>
        </div>

        <div class="row h4">
            <div class="col-5 text-right h5"> 
                {% if partido.realidad.gol_1 == partido.realidad.gol_2 and partido.realidad.ganador.pk == partido.realidad.equipo_1.pk %}
                &#127942
                {% endif %}
                <span class="fi fi-{{ partido.realidad.equipo_1.codigo_bandera }}"></span> {{ partido.realidad.equipo_1.nombre }}</div>
            <div class="col-2 text-center h5">  <span class="h4">{{ partido.realidad.gol_1 }} </span> vs <span class="h4">{{ partido.realidad.gol_2 }} </span> </div>
            <div class="col-5 text-left h5">  
                {% if partido.realidad.gol_1 == partido.realidad.gol_2 and partido.realidad.ganador.pk == partido.realidad.equipo_2.pk %}
                &#127942
                {% endif %}
                <span class="fi fi-{{ partido.realidad.equipo_2.codigo_bandera }}"></span> {{ partido.realidad.equipo_2.nombre }} </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    {% for ap in partido.apuestas %}
    <div class="row">
        <div class="col-3"> <img class="img-fluid rounded-circle" src="{% static ap.apostador.apodo|default:"horl.png" ) %}" alt="{{ ap.apostador.username }}" width="30" height="30"> {{ ap.apostador.username }} </div>
        <div class="col-4 text-right h5"> <span class="fi fi-{{ ap.equipo_1.codigo_bandera }}"></span> {{ ap.equipo_1.nombre }} 
            {% if ap.gol_1 == ap.gol_2 and ap.ganador.pk == ap.equipo_1.pk %}
            &#127942
            {% endif %}
        </div>
        <div class="col-1 text-center h5">  <span class="h4">{{ ap.gol_1 }} </span> vs <span class="h4">{{ ap.gol_2 }} </span> </div>
        <div class="col-4 text-left h5"> 
            {% if ap.gol_1 == ap.gol_2 and ap.ganador.pk == ap.equipo_2.pk %}
            &#127942
            {% endif %}
        <span class="fi fi-{{ ap.equipo_2.codigo_bandera }}"></span> {{ ap.equipo_2.nombre }} </div>
    </div>
    {% endfor %}
</div>

{% endfor %}



{% endblock content %}