{% extends 'base.html' %}
{% load static %}

{% block title %} Tabla de posiciones {% endblock title %}

{% block content %}
<div class"jumbotron text-center">
    <h1>Tabla de posiciones</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-8"> <h2>Apostador</h2></div>
        <div class="col-42"> <h2>Puntaje</h2></div>
    </div>
{% for apostador in apostadores %}
<div class="row">
    <div class="col-8 h2"> 
        <a href="{% url 'detalles' apostador.pk %}">
            <img class="img-fluid rounded-circle" src="{% static apostador.apodo|default:"horl.png" ) %}" alt="{{ apostador.username }}" width="30" height="30">
            
                {{ apostador.username }}
             
        </a>
    </div>
    <div class="col-4 h2"> {{ apostador.puntaje_total }} </div>
</div>
{% endfor %}
</div>
{% endblock content %}
